@media screen and (max-width: 1200px) {
  .left-box {
    grid-template-columns: auto auto auto;
  }

  /* About us */
  .about-section {
    flex-direction: column;
    text-align: center;
  }

  .card {
    width: 45%;
  }

  /* transfer-image  */
  .transfer-image img {
    max-width: 300px;
    height: auto;
    border-radius: 6px;
  }

}


/* footer */

@media (max-width: 1200px) {
  .site-footer {
    padding: 0px 42px 20px;
  }

  .footer-container {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    display: flex;
  }

  .footer-col {
    flex: 1 1 45%;
    max-width: 100%;
    margin-bottom: -26px;
  }
}